@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.header-container {
    background: #AB2A19;
    height: 20vh;
    color: white;
    display: flex;
    justify-content: center;
}

.header-position {
    /* background: blue; */
    display: flex;
    height: auto;
}

.header-logo {
    height: 10vh;
}

.header-title {
    font: normal normal bold 36px "Open Sans", Helvetica, sans-serif;
}